input {
    display: block;
    margin: 10px;
  }
  
  .hidden {
    display: none;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

#results {
  width: 50%;
  text-align: center;

  border: grey solid 0.5px;
  margin-top: 10px;
}